<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>产品信息修改</title>
<%include("resource/template/common/resource.html"){}%>
<script type="text/javascript" src="${ctx}/resource-injar/script?t=/plugin/datepicker/WdatePicker.js&version=2015120313"></script>
<script src="${ctx}/resource-injar/script?t=/plugin/kindeditor-4.1.10/kindeditor.js&version=2015120313"></script>
<script src="${ctx}/resource-injar/script?t=/plugin/kindeditor-4.1.10/lang/zh_CN.js&version=2015120313"></script>
<link rel="stylesheet" href="${ctx}/resource-injar/css?t=/plugin/kindeditor-4.1.10/themes/default/default.css&version=2015120313" />
</head>
<body class="mainbody">
		<div class="content-tab-wrap">
			<div id="floatHead" class="content-tab">
				<div class="content-tab-ul-wrap">
					<ul>
						<li><a href="javascript:;" onclick="tabs(this);"class="selected">净值信息修改</a></li>
					</ul>
				</div>
			</div>
		</div>
		<form id="data_form">
		 <input   name="id" type="hidden" id="id" class="input normal"  value="${f.id}"/>	
		<div class="tab-content">
			<dl>
				<dt>产品名称</dt>
				<dd>
				<select  style="width: 300px" id="FundInfoId" name="FundInfoId" class="js-example-basic-single">
   		      	    <option value="">请选择</option>
						<%for(pro in products!){%>
					<option value="${pro.pro_code}"  ${pro.pro_code==f.FundInfoId?'selected':''}  >${pro.pro_name}</option>
						<%}%>
   		      	  </select>		
   		      	  </dd>
			</dl>
			<dl>
				<dt>净值日期</dt>
				<dd>
                  <input  name="TradeDate" type="text" id="TradeDate" class="input normal" onclick='WdatePicker({dateFmt:"yyyy-MM-dd"})'
						readonly="readonly"  value="${f.TradeDate}" />	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>单位净值</dt>
				<dd>
                  <input   name="netvalue" type="text" id="netvalue" class="input normal" value="${f.netvalue}" />	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>累计净值</dt>
				<dd>
                  <input   name="totalvalue" type="text" id="totalvalue" class="input normal" value="${f.totalvalue}" />	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>沪深300指数</dt>
				<dd>
                  <input   name="hs300historymrm" type="text" id="hs300historymrm" class="input normal" value="${f.hs300historymrm}" />	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>										
		</div>
		</form>
		<div class="page-footer">
			<div class="btn-list">
			<#permission url="/admin/fundnav/update">
				<input type="button" name="btnSubmit" value="确 认" id="btnSubmit" class="btn" onclick="Public.ajaxInsert('${ctx}/admin/fundnav/update')"/> 
            </#permission>
				<input name="btnReturn" type="button" value="取 消" class="btn yellow" onclick="Public.closeDialog();" />
			</div>
			<div class="clear"></div>
		</div>
</body>
</html>