<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>产品信息修改</title>
<%include("resource/template/common/resource.html"){}%>
<script type="text/javascript" src="${ctx}/resource-injar/script?t=/plugin/datepicker/WdatePicker.js&version=2015120313"></script>
<script src="${ctx}/resource-injar/script?t=/plugin/kindeditor-4.1.10/kindeditor.js&version=2015120313"></script>
<script src="${ctx}/resource-injar/script?t=/plugin/kindeditor-4.1.10/lang/zh_CN.js&version=2015120313"></script>
<link rel="stylesheet" href="${ctx}/resource-injar/css?t=/plugin/kindeditor-4.1.10/themes/default/default.css&version=2015120313" />
<script type="text/javascript">
var CTX = '${ctx}';
String.prototype.startWith=function(s){
	if(s==null||s==""||this.length==0||s.length>this.length)
		return false;
	if(this.substr(0,s.length)==s)
		return true;
	else
		return false;
	return true;
}

//交易结构图片上传
KindEditor.ready(function(K) {
	var editor = K.editor({
		allowFileManager : true,
		themeType: "simple",
		uploadJson : '${ctx}/admin/sys/file/upload',
		fileManagerJson : '${ctx}/admin/sys/file/list'
	});

	K('#select_small_image').click(function() {
		editor.loadPlugin('smimage', function() {
			editor.plugin.imageDialog({
				clickFn : function(url,title, width, height, border, align) {
					if (K('#image_show_small')) {
						if(url.startWith("http://")||url.startWith("https://")){
							 K('#image_show_small').attr('src', url);
							 K('#image_show_small').attr('src', url);
							 K('#vc_pub2').val(url);
						}else{
							 K('#image_show_small').attr('src', CTX+url);
							 K('#vc_pub2').val(CTX+url);
							 K('#image_show_small').attr('src', url);
						}
						 K('#image_show_small').show();
					}
					editor.hideDialog();
				}
			});
		});
	});
	
	K('#dele_small_image').click(function() {
		 K('#image_show_small').attr('src', '');
		 K('#vc_pub2').val('');
	});
	
	K('#select_small_image_risk').click(function() {
		editor.loadPlugin('smimage', function() {
			editor.plugin.imageDialog({
				clickFn : function(url,title, width, height, border, align) {
					if (K('#image_show_small_risk')) {
						if(url.startWith("http://")||url.startWith("https://")){
							 K('#image_show_small_risk').attr('src', url);
							 K('#image_show_small_risk').attr('src', url);
							 K('#risk').val(url);
						}else{
							 K('#image_show_small_risk').attr('src', CTX+url);
							 K('#image_show_small_risk').attr('src', url);
							 K('#risk').val(CTX+url);
						}
						 K('#image_show_small_risk').show();
					}
					editor.hideDialog();
				}
			});
		});
	});
	
	K('#dele_small_image').click(function() {
		 K('#image_show_small_risk').attr('src', '');
		 K('#risk').val('');
	});
	
});
</script>
</head>
<body class="mainbody">
		<div class="content-tab-wrap">
			<div id="floatHead" class="content-tab">
				<div class="content-tab-ul-wrap">
					<ul>
						<li><a href="javascript:;" onclick="tabs(this);"class="selected">产品信息修改</a></li>
					</ul>
				</div>
			</div>
		</div>
		<form id="data_form">
		 <input   name="i_id" type="hidden" id="i_id" class="input normal"  value="${p.i_id}"/>	
		<div class="tab-content">
		    <dl>
				<dt>产品代码</dt>
				<dd>
                  <input   name="pro_code" type="text" id="pro_code" class="input normal" value="${p.pro_code}" />	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>产品名称</dt>
				<dd>
                  <input   name="pro_name" type="text" id="pro_name" class="input normal" value="${p.pro_name}" />	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>产品简称</dt>
				<dd>
                  <input   name="pro_short_name" type="text" id="pro_short_name" class="input normal" value="${p.pro_short_name}" />	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>产品类型</dt>
				<dd>
                  <select  style="width: 133px" id="pro_style" name="pro_style" class="js-example-basic-single">
   		      	    <option value="">请选择</option>
						<%for(dict in types!){%>
					<option value="${dict.value}"  ${dict.value==p.pro_style?'selected':''} >${dict.name}</option>
						<%}%>
   		      	  </select>		
				</dd>
			</dl>
			<dl>
				<dt>开放状态</dt>
				<dd>
					<select  style="width: 133px" id="i_prostatus" name="i_prostatus" class="js-example-basic-single">
   		      	    <option value="">请选择</option>
   		      	    <option value="1" ${p.i_prostatus=='1'?'selected':''} >在售</option>
   		            <option value="2" ${p.i_prostatus=='2'?'selected':''}>即将开放</option>
   		            <option value="3" ${p.i_prostatus=='3'?'selected':''}>已售罄</option>
   		      	  </select>		
				</dd>
			</dl>
			
			
				<dl>
				<dt>发布时间</dt>
				<dd>
                  <input  name="public_time" type="text" id="public_time" class="input normal" onclick='WdatePicker({dateFmt:"yyyy-MM-dd HH:mm:ss"})'
						readonly="readonly"  value="${p.public_time}" />	
                  <span id="Validform_checktip">*用于排序</span>
				</dd>
			</dl>
			<dl>
				<dt>产品风向</dt>
				<dd>
                  <select  style="width: 133px" id="pro_direction" name="pro_direction" class="js-example-basic-single">
   		      	    <option value="">请选择</option>
						<%for(dict in directions!){%>
					<option value="${dict.value}"  ${dict.value==p.pro_direction?'selected':''} >${dict.name}</option>
						<%}%>
   		      	  </select>		
                  <span id="Validform_checktip">*用于产品首页分类</span>
				</dd>
			</dl>
			<dl>
				<dt>产品特点</dt>
				<dd>
                  <input   name="pro_features" type="text" id="pro_features" class="input normal" value="${p.pro_features}"/>	
                  <span id="Validform_checktip">*首页产品显示：比如每月开放</span>
				</dd>
			</dl>
			<dl>
				<dt>产品优点</dt>
				<dd>
                  <input   name="pro_merits" type="text" id="pro_merits" class="input normal" value="${p.pro_merits}" />	
                  <span id="Validform_checktip">*首页产品显示：比如资金灵活配置</span>
				</dd>
			</dl>
			<dl>
				<dt>产品风格</dt>
				<dd>
                  <input   name="i_prostyle" type="text" id="i_prostyle" class="input normal" value="${p.i_prostyle}"/>	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>开始时间</dt>
				<dd>
                  <input   name="d_startdate" type="text" id="d_startdate" class="input normal" value="${p.d_startdate}" onclick='WdatePicker({dateFmt:"yyyy-MM-dd HH:mm:ss"})'
						readonly="readonly"  />	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>结束时间</dt>
				<dd>
                  <input   name="d_enddate" type="text" id="d_enddate" class="input normal" value="${p.d_enddate}" onclick='WdatePicker({dateFmt:"yyyy-MM-dd HH:mm:ss"})'
						readonly="readonly" />	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>运作期</dt>
				<dd>
                  <input   name="pro_due" type="text" id="pro_due" class="input normal" value="${p.pro_due}" />	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>产品期限</dt>
				<dd>
                  <input   name="pro_term" type="text" id="pro_term" class="input normal" value="${p.pro_term}" />	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>购买起点</dt>
				<dd>
                  <input   name="vc_leastsubscribe" type="text" id="vc_leastsubscribe" class="input normal" value="${p.vc_leastsubscribe}" />	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl><dl>
				<dt>投资类型</dt>
				<dd>
                  <input   name="vc_pub1" type="text" id="vc_pub1" class="input normal" value="${p.vc_pub1}"/>	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>相关产品</dt>
				<dd>
                  <select  style="width: 300px" id="vc_pro_code" name="vc_pro_code" class="js-example-basic-single">
   		      	    <option value="">请选择</option>
						<%for(pro in products!){%>
					<option value="${pro.pro_code}"  ${pro.pro_code==p.vc_pro_code?'selected':''} >${pro.pro_name}</option>
						<%}%>
   		      	  </select>		
				</dd>
			</dl>
			<dl>
				<dt>托管人</dt>
				<dd>
                  <input   name="vc_fundtrustee" type="text" id="vc_fundtrustee" class="input normal" value="${p.vc_fundtrustee}" />	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>投资策略</dt>
				<dd>
				  <textarea id="vc_tactics" name="vc_tactics"  class="input normal">${p.vc_tactics}</textarea>
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
			
			<dl>
				<dt>适合</dt>
				<dd>
				  <textarea id="pro_fit" name="pro_fit"  class="input normal">${p.pro_fit}</textarea>
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>投资顾问</dt>
				<dd>
                  <input   name="vc_fundadministrator" type="text" id="vc_fundadministrator" class="input normal" value="${p.vc_fundadministrator}"/>	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
			
					<dl>
				<dt>基金经理</dt>
				<dd>
                  <input   name="vc_fundmanager" type="text" id="vc_fundmanager" class="input normal" value="${p.vc_fundmanager}" />	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
					<dl>
				<dt>基金类型</dt>
				<dd>
                  <input   name="fund_style" type="text" id="fund_style" class="input normal" value="${p.fund_style}" />	
                  <span id="Validform_checktip">*</span>
				</dd>
			</dl>
					<dl>
				<dt>所属行业</dt>
				<dd>
				 <select  style="width: 133px" id="industry" name="industry" class="js-example-basic-single">
   		      	    <option value="">请选择</option>
						<%for(dict in industrys!){%>
					<option value="${dict.value}"  ${dict.value==p.industry?'selected':''} >${dict.name}</option>
						<%}%>
   		      	  </select>		
				</dd>
			</dl>
					<dl>
				<dt>海外产品所属模板</dt>
				<dd>
				 <select  style="width: 133px" id="flag" name="flag" class="js-example-basic-single">
   		      	    <option value="">请选择</option>
   		      	    <option value="1"  ${p.i_prostatus=='1'?'selected':''} >产品类</option>
   		            <option value="2"  ${p.i_prostatus=='2'?'selected':''} >基金类</option>
   		      	  </select>	
				</dd>
			</dl>	
			
			<dl>
				<dt>资金投向</dt>
				<dd>
				
				         <img id="image_show_small" src="${p.vc_pub2}" style="max-height:100px;" />
						 <input id="vc_pub2" type="text" name="vc_pub2" value="${p.vc_pub2}"  readonly="readonly" class="input normal"/>
	                     <span class="help-inline"><a id="select_small_image" class="icon-btn add" href="javascript:;"><i></i><span>选择图片</span></a>
	                     <a id="dele_small_image" class="icon-btn edit" href="javascript:;"><i></i><span>删除</span></a>
	                     </span>
				</dd>
			</dl>	
			<dl>
				<dt>风险控制</dt>
				<dd>
				  <img id="image_show_small_risk" src="${p.risk}" style="max-height:100px;" />
						 <input id="risk" type="text" name="risk" value="${p.risk}" readonly="readonly" class="input normal"/>
	                     <span class="help-inline"><a id="select_small_image_risk" class="icon-btn add" href="javascript:;"><i></i><span>选择图片</span></a>
	                     <a id="dele_small_image_risk" class="icon-btn edit" href="javascript:;"><i></i><span>删除</span></a>
	                     </span>
				</dd>
			</dl>											
		</div>
		</form>
		<div class="page-footer">
			<div class="btn-list">
			<#permission url="/admin/product/update">
				<input type="button" name="btnSubmit" value="确 认" id="btnSubmit" class="btn" onclick="Public.ajaxInsert('${ctx}/admin/product/update')"/> 
            </#permission>
				<input name="btnReturn" type="button" value="取 消" class="btn yellow" onclick="Public.closeDialog();" />
			</div>
			<div class="clear"></div>
		</div>
</body>
</html>