<!-- head -->
<div id="box_top_sub1">
	<div id="box_top_sub1_sub1">
		<div  class="columnSpace" id="elem-FrontSpecifies_show01-1441786752928">
			<div id="FrontSpecifies_show01-1441786752928"
				class="FrontSpecifies_show01-d3_c1">
				<div class="describe htmledit">
					<p>
						<a href="${ctxPath}/index"><img alt=""
							src="${ctxPath}/portal/picture/logo_big.jpg" /></a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="box_top_sub1_sub2">
		<p style="line-height: 90px; float: right; font-size: 16px;">联系电话：021-37820669
		</p>

	</div>
	<div class="clearBoth"></div>
</div>
<!-- nav -->
<div id="box_top_sub2">
	<div class="columnSpace" id="elem-FrontColumns_navigation01-1441856203384" >
		<script type="text/javascript" src="${ctxPath}/portal/js/cn_global_1.js"></script>
		<div id="FrontColumns_navigation01-1441856203384"
			class="FrontColumns_navigation01-d9_c1">
			<div id="menu">
				<div class="bound">
					<ul>
						<li class="columns0"><a href="${ctxPath}/index" title="首 页" ${flag =="index"?'class="hover"':''}> 首 页</a></li>
						<li class="columns1"><a href="${ctxPath}/productlist" title="产品及解决方案"  ${flag =="product"?'class="hover"':''} >产品及解决方案</a></li>
						<li class="columns2"><a href="${ctxPath}/new" title="新闻中心"  ${flag =="new"?'class="hover"':''} > 新闻中心</a></li>
						<li class="columns3"><a href="${ctxPath}/consult" title="招聘咨询"  ${flag =="consult"?'class="hover"':''} >招聘咨询</a></li>
						<li class="columns4"><a href="${ctxPath}/about" title="关于我们"  ${flag =="about"?'class="hover"':''}>关于我们</a></li>
					</ul>
				</div>
			</div>
			<div id="menu-popup">
				<div class="popup columns0 navigation" style="display: none;">
					<div class="menu_content">
						<div>
							<span class="line"></span>
							<ul class="subcolumns0">
								<li class="img"><a
									href="${ctxPath}/companydesc"
									title="企业简介"> <img class="ejtp" alt="企业简介"
										src="${ctxPath}/portal/picture/noimage_1.jpg" /> <span class="ejwz">企业简介</span>
								</a></li>
							</ul>
							<span class="line"></span>
							<ul class="subcolumns1">
								<li class="img"><a
									href="${ctxPath}/companyculture"
									title="企业文化"> <img class="ejtp" alt="企业文化"
										src="${ctxPath}/portal/picture/noimage_1.jpg" /> <span class="ejwz">企业文化</span>
								</a></li>
							</ul>
							<span class="line"></span>
							<ul class="subcolumns2">
								<li class="img"><a
									href="${ctxPath}/companyaptitude"
									title="公司资质"> <img class="ejtp" alt="公司资质"
										src="${ctxPath}/portal/picture/noimage_1.jpg" /> <span class="ejwz">公司资质</span>
								</a></li>
							</ul>


						</div>
					</div>
				</div>
				<div class="popup columns1 navigation" style="display: none;">
					<div class="menu_content">
						<div>
							<ul class="subcolumns0">
								<li class="img"><a
									href="${ctxPath}/productlist"
									title="自组网产品"> <img class="ejtp" alt="自组网产品"
										src="${ctxPath}/portal/picture/noimage_1.jpg" /> <span class="ejwz">自组网产品</span>
								</a></li>
							</ul>
							<span class="line"></span>
							<ul class="subcolumns1">
								<li class="img"><a
									href="${ctxPath}/productlist"
									title="有中心产品"> <img class="ejtp" alt="有中心产品"
										src="${ctxPath}/portal/picture/noimage_1.jpg" /> <span class="ejwz">有中心产品</span>
								</a></li>
							</ul>
							<span class="line"></span>
							<ul class="subcolumns2">
								<li class="img"><a
									href="${ctxPath}/productlist"
									title="自组网+有中心双网合一产品"> <img class="ejtp"
										alt="自组网+有中心双网合一产品" src="${ctxPath}/portal/picture/noimage_1.jpg" /> <span
										class="ejwz">自组网+有中心双网合一产品</span>
								</a></li>
							</ul>
							<span class="line"></span>
							<ul class="subcolumns3">
								<li class="img"><a
									href="${ctxPath}/productlist"
									title="解决方案"> <img class="ejtp" alt="解决方案"
										src="${ctxPath}/portal/picture/noimage_1.jpg" /> <span class="ejwz">解决方案</span>
								</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="popup columns2 navigation" style="display: none;">
					<div class="menu_content">
						<div>
							<ul class="subcolumns0">
								<li class="img"><a
									href="${ctxPath}/new" 
									title="公司新闻"> <img class="ejtp" alt="公司新闻"
										src="${ctxPath}/portal/picture/noimage_1.jpg" /> <span class="ejwz">公司新闻</span>
								</a></li>
							</ul>
							<span class="line"></span>  
							<ul class="subcolumns1">
								<li class="img"><a href="${ctxPath}/new"
									title="行业新闻"> <img class="ejtp" alt="行业新闻"
										src="${ctxPath}/portal/picture/noimage_1.jpg" /> <span class="ejwz">行业新闻</span>
								</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="popup columns3 navigation" style="display: none;">
					<div class="menu_content">
						<div>
							<ul class="subcolumns0">
								<li class="img"><a href="${ctxPath}/consult"
									title="招聘信息"> <img class="ejtp" alt="招聘信息"
										src="${ctxPath}/portal/picture/noimage_1.jpg" /> <span class="ejwz">招聘信息</span>
								</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="popup columns4 navigation" style="display: none;">
					<div class="menu_content">
						<div>
							<ul class="subcolumns0">
								<li class="img"><a href="${ctxPath}/about"
									title="联系方式"> <img class="ejtp" alt="联系方式"
										src="${ctxPath}/portal/picture/noimage_1.jpg" /> <span class="ejwz">联系方式</span>
								</a></li>
							</ul>
							<span class="line"></span>
							<ul class="subcolumns1">
								<li class="img"><a href="${ctxPath}/companyadress" 
									title="公司地址"> <img class="ejtp" alt="公司地址"
										src="${ctxPath}/portal/picture/noimage_1.jpg" /> <span class="ejwz">公司地址</span>
								</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
