  <div class="aboutwk">
    <div class="nmenu">
      <ul>
        <#topic_article topicCode="aboutus" page="${p!}" rows="5";pageRecord>
       	<%if(pageRecord.dataList.~size>0){%>
       	 <%  for(article in pageRecord.dataList){%>
       	 <li <%if(article.id==article_id){%> class="nmenuhover"<%}%> ><a href="${ctxPath}/about?article_id=${article.id}&topicCode=aboutus">${article.title}</a></li>
		<%}%> 
         		<%}else{%>暂无相关信息<%}%>  
      </#topic_article>
      </ul>
    </div>
    <div class="aboutnr">
    <#article_content id='${article_id!}';content>
			${content}
		</#article_content>
    </div>
    <div class="clear"></div>
  </div>