<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>操作员信息-修改状态</title>
<%include("resource/template/common/resource.html"){}%>
</head>
<body class="mainbody">
	<div class="content-tab-wrap">
		<div id="floatHead" class="content-tab">
			<div class="content-tab-ul-wrap">
				<ul>
					<li><a href="javascript:;" onclick="tabs(this);"class="selected">操作员信息-修改状态</a></li>
				</ul>
			</div>
		</div>
	</div>
	<form id="data_form">
		<div class="tab-content">
		<input type="hidden" name="id" id="id" value="${id}">
			<dl>
				<dt>姓名</dt>
				<dd>
					<span class="normal" id="real_name">${real_name}</span>
				</dd>
			</dl>
			<dl>
				<dt>状态</dt>
				<dd>
					<select class="input middle" name="status" id="status">
						<#dictforEach key="userbasic_status";dict>
							<option value="${dict.name}" ${status==dict.name ?'selected':''}>${dict.value}</option>
						</#dictforEach>
					</select>
				</dd>
			</dl>
		</div>
	</form>
	<div class="page-footer">
		<div class="btn-list">
			<#permission url="/admin/user/userbasic/updateStatus">
				<input type="button" class="btn" name="btnSubmit" id="btnSubmit" value="确定" onclick="Public.ajaxUpdate('${ctx}/admin/user/userbasic/updateStatus')"/>
			</#permission>
			<input type="button" class="btn yellow" name="btnReturn" value="取消" onclick="Public.closeDialog();"/>
		</div>
	</div>
</body>
</html>