  <#pro_articles type='${industry!}' page="${p!}" rows="5" ;pageRecord>
  <h2>相关资讯</h2>
        <table width="95%" style="margin:auto;" class="proviewlist" border="0" cellpadding="1" cellspacing="1">
        <%if(pageRecord.dataList.~size>0){%>
   <%  for(article in pageRecord.dataList){%>
    <tr>
    <%
     var topicCode=strutil.split(article.article_location,"/");
     var code;
    if(topicCode.~size>2){
    code=topicCode[1];
     }else{
       code="article";
     }
    %>
    <td><a href="${ctxPath}/articledetail?article_id=${article.id}&topicCode=${code}">${article.title}</a></td>
    </tr>
  <%}%> 
  	<%}%>
 <%else{%><tr ><td style="text-align:center;">暂无相关信息</td></tr><%}%>
        </table>
<%include("/pc/common/commonPage.html",{pageRecord:pageRecord}){}%>
         	  
<div class="clear"></div> 
 </#pro_articles>      