<!DOCTYPE HTML>
<html>
<%include("/pc/common/meta.html"){}%>
<body>
<%if(topicCode=="marketinsight"){%>
<%include("/pc/common/header.html",{nav:'in'}){}%>
<%}%>
<%if(topicCode=="observation"){%>
<%include("/pc/common/header.html",{nav:'in'}){}%>
<%}%>
<%if(topicCode=="comingshow"){%>
<%include("/pc/common/header.html",{nav:'new'}){}%>
<%}%>
<%if(topicCode=="wonderfulreview"){%>
<%include("/pc/common/header.html",{nav:'new'}){}%>
<%}%>
<%if(topicCode=="activity"){%>
<%include("/pc/common/header.html",{nav:'new'}){}%>
<%}%>
<%if(topicCode=="article"){%>
<%include("/pc/common/header.html",{nav:''}){}%>
<%}%>

<article>
<%include("/pc/include/new/newdetailbody.html"){}%>
</article>
<%include("/pc/common/footer.html"){}%>
</body>
</html>