  <h2>产品公告</h2>
        <table width="95%" style="margin:auto;" class="proviewlist" border="0" cellpadding="1" cellspacing="1">
   <#reports pro_code="${pro_code!}" page="${p2!}" rows="5"; pageRecord>
   <%if(pageRecord.dataList.~size>0){%>
   <%for(report in pageRecord.dataList){%>
  <tr>
    <td><a href="${report.url}" target="_blank">${report.report_name}</a></td>
    </tr>
   <%}}else{%> 
  <tr><td >暂无相关信息</td></tr> 
  <%}%>
        </table>
    <%
    var page = pageRecord.page;   // 当前页
    var totalPage = pageRecord.totalPage;     // 总页数
   %>
<%if(totalPage>0&&page>=1){%>
    <div class="jjtcfy"  id="proc"><a onclick='gopage2(${page}-1)' href="javascript:void(0)">上一页</a>&nbsp;&nbsp;&nbsp;<a onclick='gopage2(${page}+1)' href="javascript:void(0)">下一页</a>&nbsp;&nbsp;&nbsp;&nbsp;${page}/${totalPage}</div>
<%}%>
 </#reports>
 
 