 <h1>精<br>彩<br>回<br>顾</h1>
       <ul >
          <#topic_article topicCode="wonderfulreview" page="${p1!}" rows="5";pageRecord>
       	<%if(pageRecord.dataList.~size>0){%>
       	 <%  for(article in pageRecord.dataList){%>
       	 <li><a href="${ctxPath}/articledetail?article_id=${article.id}&topicCode=wonderfulreview">${article.title}</a><span>${date( article.publish_time , "yyyy-MM-dd HH:mm:ss" ),dateFormat="M月dd日"}</span><div class="clear"></div></li>
		<%}%> 
		
         <%include("/pc/common/commonPage1.html",{pageRecord:pageRecord}){}%>
         <%}else{%>暂无相关信息  <%}%>
      </#topic_article>
       </ul>